body {
  background-color: wheat
}

h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
  color: rebeccapurple;
  font-size: 3em;
  margin: -10px 0;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}

.card-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 150px);
}

.card {
  border: 5px solid rebeccapurple;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: aqua;
  /* background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}

.card:hover {
  cursor: pointer;
  background-color: red;
}

input{
  text-align: center;
  padding: 5px;
}

.scroll {
  overflow: scroll;
  border: 5px solid grey;
  height: 800px;
  padding: 20px;
}

.search-box {
  text-align: center;
  margin: 10px 0; 
}